body {
    background-color: darkolivegreen;
}

.contentbox {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headline {
    font-size: 50px;
    color: white;
    user-select: none;
    text-align: center;
}

.subheadline {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    user-select: none;
}

.linkbtn {
    margin-top: 30px;
    width: max-content;
    background-color: white;
    padding: 10px;
    border: solid black;
    border-radius: 10px;
}

.linkbtn:hover {
    border: solid darkgray;
}

.info {
    margin-top: 30px;
    background-color: lightgray;
    border: solid darkgray;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}