body {
    background-color: darkolivegreen;
}

.contentbox {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -80%);
    transform: translate(-50%, -80%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headline {
    font-size: 50px;
    color: white;
    user-select: none;
    text-align: center;
}

.subheadline {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    user-select: none;
}

.question {
    margin-top: 5%;
    width: max-content;
    background-color: lightgray;
    font-size: 20px;
    padding: 10px;
    border: solid darkgray;
    border-radius: 10px;
    text-align: center;
}

.answerbox {
    margin-top: 2%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.answer {
    margin-top: 10px;
    background-color: white;
    border: solid black;
    border-radius: 10px;
    padding: 10px;
    min-width: 100px;
}

.answer:hover {
    border: solid darkgray;
}

.stat {
    font-family: Consolas, monospace;
    flex: 1 1 0;
    width: 120px;
    text-align: center;
    margin: 4px;
    padding: 5px;
    background-color: lightgray;
    border: solid darkgray;
    border-radius: 10px;
}

.statBox {
    display: flex;
}
